body {
    background-color: #f8f9fa;
    width: 100%;
    font-family: "poppins",-apple-system,BlinkMacSystemFont,Roboto,"Arial",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.row-1 {
    padding-top: 10px ;
    display: flex;
    width: 90%;
    margin: auto;
}
.row-1 > h5 {
    margin: 15px;
    font-size: 14px;
    width: 20%;
}
.signup {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}
.logo {
    width: 160px;
    padding: 5px;
    padding-right: 75px;
    padding-left: 50px;
}
h1{
    text-align: center;
    font-size: 45px;
}
.page_head{
    padding: 40px ;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.articles{
    width: 70%;
    padding:5% 5%;
    display: block;
    margin: 0% auto;
    /* flex-wrap: nowrap; */
    font-size: 18px;
    
}
.sideleft{
    text-align: left;
    width: 40%;
    min-width: 350px;
    padding: 5%;
    float:left;

}
a{
    color:rgb(255, 0, 119);
}
.sideright > img{
    min-width: 400px;
    width: 50%;
    float: left;
}